<!--/**
 * Created by Daniel Budick on 01 Okt 2015.
 * Copyright 2015 Daniel Budick All rights reserved.
 * Contact: daniel@budick.eu / http://budick.eu
 *
 * This file is part of spielebuch:ui
 * spielebuch:ui is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * spielebuch:ui is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with spielebuch:ui. If not, see <http://www.gnu.org/licenses/>.
 */-->
<template name="readerBackpack">
    <button class="btn open-backpack">Backpack</button>
</template>
<template name="backpackModal">
    <div class="modal fade" id="modal-backpack">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Backpack</h4>
                </div>
                <div class="modal-body">
                    <ul class="backpack">
                        {{#each getBackpack}}
                        <li><a href="#" class="reader-backpack-item" data-equipped="{{equipped}}" data-_id="{{_id}}">{{name}}</a>{{{backpackSymbol equipped}}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>