<!--/**
 * Created by Daniel Budick on 08 Sep 2015.
 * Copyright 2015 Daniel Budick All rights reserved.
 * Contact: daniel@budick.eu / http://budick.eu
 *
 * This file is part of spielebuch:ui
 * spielebuch:ui is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * spielebuch:ui is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with spielebuch:ui. If not, see <http://www.gnu.org/licenses/>.
 */-->

<template name="readerText">
    {{#if currentUser}}
    <div class="reader-text">{{{readerText}}}</div>
    <div class="reader-backpack-btn">{{>readerBackpack}}</div>
    {{else}}
    Bitte melden Sie sich an.
    {{/if}}
    {{> modal}}
</template>

<template name="readerObjectProperties">
    {{#if readerObjectProperties}}
    <ul>
        {{#each readerObjectProperties}}
        {{key}}: {{value}}
        {{/each}}
    </ul>
    {{/if}}
</template>

<template name="readerObjectEffectNames">
    {{#if readerObjectEffectNames}}
    <ul class="reader-effectnames">
        {{#each readerObjectEffectNames}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
</template>

<template name="readerInteraction">
    {{{readerRenderIcons}}}
</template>

<template name="readerLog">
    <div class="overflow-scroll">
        {{#each readerLogs}}
            {{this}}<br/>
        {{/each}}
    </div>
</template>






